html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.1;
  color: white; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  outline: 0;
  text-decoration: none;
  color: white; }

html, body {
  height: 100%;
  overflow-x: hidden; }

body {
  background: #060c2a;
  background: linear-gradient(0deg, black, #005bff);
  color: white;
  font-family: "Open Sans", Arial, serif;
  background-repeat: no-repeat;
  background-attachment: fixed; }

header {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px; }
  header ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    list-style: none; }
    header ul li {
      padding: 10px; }
      header ul li a {
        text-decoration: none;
        color: white;
        font-weight: bold; }
    header ul li.-active, header ul li:hover {
      border: 1px solid white;
      margin: -1px; }

.main {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center; }

footer {
  margin-top: 10px;
  text-align: center;
  padding: 20px;
  font-size: 21px; }

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  height: 100%;
  min-height: 100vh; }

.App > div {
  display: flex;
  height: calc(100% - 160px);
  justify-content: center; }

.App > div.info {
  align-items: center; }

.page404 {
  line-height: 1.2;
  font-size: 23px; }
  .page404 p {
    margin-bottom: 10px; }
  .page404 div {
    margin-bottom: 5px; }

.main.listing-movies {
  max-width: 600px;
  width: 100%;
  justify-content: left;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  .main.listing-movies h1 {
    font-weight: bolder;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px; }

.seans__description {
  text-align: justify;
  margin-bottom: 10px; }
.seans__seatings {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7px; }
  .seans__seatings__single {
    line-height: 1.3; }
.seans__headline {
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold; }
.seans__list_viewings {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
.seans__single {
  margin-bottom: 25px; }
  .seans__single-list span {
    margin: 5px;
    padding: 10px 5px;
    margin-left: 0;
    border: 1px solid white; }
    .seans__single-list span:hover {
      border-color: #d0d0d0; }

.form h2 {
  font-size: 30px;
  margin-bottom: 30px; }
.form__input {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px; }
  .form__input label {
    display: block;
    width: 100%;
    margin-bottom: 5px; }
  .form__input input {
    display: block;
    border: none;
    width: 100%;
    margin-bottom: 5px; }
.form__alert {
  border: 1px solid white;
  padding: 10px 20px;
  margin-bottom: 5px;
  margin-top: -10px; }
  .form__alert:empty {
    display: none; }

.seatings {
  margin-top: 10px; }
  .seatings__row {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .seatings__single {
    border: 1px solid white;
    cursor: pointer;
    padding: 5px;
    min-width: 20px;
    margin-bottom: 10px; }
    .seatings__single.-active {
      opacity: 0.6;
      border-color: grey;
      cursor: not-allowed; }
    .seatings__single.-selected, .seatings__single:hover {
      background-color: white;
      color: black; }
  .seatings__display {
    display: inline-block;
    margin-bottom: 20px;
    padding: 7px 15px;
    border: 1px solid white; }

/*# sourceMappingURL=App.css.map */
